* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.list-items {
    font-size: 3rem;
}

.to-do-dis {
    margin: 6% auto;
}

.title {
    text-align: center;
}